<h1>Weather Data</h1>
    <table>
        <thead>
            <tr>
                <th>Temperature</th>
                <th>Humididty</th>
                <th>Pressure</th>
            </tr>
        </thead>
            <tr>
                <td><%= data.temperature %></td>
                <td><%= data.humidity %></td>
                <td><%= data.pressure %></td>
            </tr>
    </table>
